@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
body {
  font-size: 18px;
  margin: auto 0;
}
body header {
  width: auto;
  height: 500px;
  background-image: url("./assets/img/image-header.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
body header .navbar {
  display: none;
}
body header h1 {
  font-size: 40px;
  font-family: "Fraunces", serif;
}
body header .header {
  text-align: center;
  transform: translateY(25px);
}
body header .burger {
  position: relative;
  top: -7.5px;
  left: 330px;
}
body header .sun {
  position: relative;
  top: 20px;
  left: 20px;
}
body main section {
  text-align: center;
}
body main section div {
  text-align: center;
}
body main section div span, body main section div p {
  padding: 15px;
}
body main section div span {
  font-family: "Fraunces", serif;
  font-size: 35px;
}
body main section div p {
  font-family: "Barlow", sans-serif;
}
body main section div .learn {
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  letter-spacing: 1px;
}
body main section div .rectangle1 {
  background-color: #FAD400;
  opacity: 25%;
  height: 12px;
  width: 137px;
  border-radius: 28px;
  position: relative;
  right: -120px;
  top: -10px;
}
body main section div .rectangle2 {
  background-color: #FE7766;
  opacity: 25%;
  height: 12px;
  width: 137px;
  border-radius: 28px;
  position: relative;
  right: -120px;
  top: -10px;
}
body main section div .txt-img1 {
  color: #24554A;
}
body main section div .txt-img2 {
  color: #052C3B;
}
body main section div .txt-img1, body main section div .txt-img2 {
  transform: translateY(385px);
}
body main section div .txt-img1 span, body main section div .txt-img2 span {
  font-size: 28px;
}
body main section div .txt-img1 p, body main section div .txt-img2 p {
  font-size: 16px;
}
body main section div .name {
  font-size: 18px;
}
body main section div .job {
  padding-top: 0;
  font-size: 14px;
  opacity: 40%;
}
body main section .title {
  font-family: "Fraunces", serif;
  font-size: 16px;
  opacity: 45%;
  letter-spacing: 4px;
  font-weight: 900;
  line-height: 120px;
}
body main .grid-container1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 0.65fr);
}
body main .grid-container1 .grid-item1 {
  grid-column: 1;
  grid-row: 1;
  height: 312px;
}
body main .grid-container1 .grid-item2 {
  grid-column: 1;
  grid-row: 2;
}
body main .grid-container1 .grid-item2 span {
  font-weight: 900;
}
body main .grid-container1 .grid-item3 {
  grid-column: 1;
  grid-row: 3;
  height: 312px;
}
body main .grid-container1 .grid-item4 {
  grid-column: 1;
  grid-row: 4;
}
body main .grid-container1 .grid-item4 span {
  font-weight: 900;
}
body main .grid-container1 .grid-item5 {
  grid-column: 1;
  grid-row: 5;
  background-image: url(assets/img/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}
body main .grid-container1 .grid-item6 {
  grid-column: 1;
  grid-row: 6;
  background-image: url(assets/img/image-photography.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}
body main .grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
body main .grid-container2 .grid-item7 {
  grid-column: 1;
  grid-row: 1;
}
body main .grid-container2 .grid-item7 img {
  width: 70px;
  border-radius: 100%;
}
body main .grid-container2 .grid-item8 {
  grid-column: 1;
  grid-row: 2;
}
body main .grid-container2 .grid-item8 img {
  width: 70px;
  border-radius: 100%;
}
body main .grid-container2 .grid-item9 {
  grid-column: 1;
  grid-row: 3;
}
body main .grid-container2 .grid-item9 img {
  width: 70px;
  border-radius: 100%;
}
body main .grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
body main .grid-container3 img {
  height: 100%;
  width: 100%;
}
body main .grid-container3 .grid-item10 {
  grid-column: 1/2;
  grid-row: 1;
}
body main .grid-container3 .grid-item11 {
  grid-column: 2/3;
  grid-row: 1;
}
body main .grid-container3 .grid-item12 {
  grid-column: 1/2;
  grid-row: 2;
}
body main .grid-container3 .grid-item13 {
  grid-column: 2/3;
  grid-row: 2;
}
body footer {
  text-align: center;
  background-color: #90d4c6;
  color: #2c7566;
}
body footer .logo-foo {
  filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);
}
body footer div {
  word-spacing: 20px;
  padding: 20px;
}
body footer div a {
  color: #2c7566;
  text-decoration: none;
}
body footer .link {
  word-spacing: 52px;
}
body footer .link a {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.128571px;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1440px) {
  body {
    font-size: 18px;
    margin: auto 0;
  }
  body header {
    width: auto;
    height: 500px;
    background-image: url("./assets/pc/image-header.jpg");
    background-position: center;
    background-size: cover;
    color: white;
  }
  body header .navbar {
    display: block;
    position: relative;
    top: -28px;
    right: 20px;
    word-spacing: 20px;
    text-align: right;
  }
  body header .navbar li {
    display: inline;
  }
  body header .navbar li a {
    color: white;
    text-decoration: none;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
  }
  body header .navbar li a:hover {
    color: #24303E;
    background-color: white;
  }
  body header h1 {
    font-size: 40px;
    font-family: "Fraunces", serif;
  }
  body header .header {
    text-align: center;
    transform: translateY(25px);
  }
  body header .burger {
    display: none;
  }
  body header .sun {
    position: relative;
    top: 20px;
    left: 20px;
  }
  body main section {
    text-align: center;
  }
  body main section div {
    text-align: center;
  }
  body main section div span, body main section div p {
    padding: 15px;
  }
  body main section div span {
    font-family: "Fraunces", serif;
    font-size: 35px;
  }
  body main section div p {
    font-family: "Barlow", sans-serif;
  }
  body main section div .learn {
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
  }
  body main section div .rectangle1 {
    background-color: #FAD400;
    opacity: 25%;
    height: 12px;
    width: 137px;
    border-radius: 28px;
    position: relative;
    right: -120px;
    top: -10px;
  }
  body main section div .rectangle2 {
    background-color: #FE7766;
    opacity: 25%;
    height: 12px;
    width: 137px;
    border-radius: 28px;
    position: relative;
    right: -120px;
    top: -10px;
  }
  body main section div .txt-img1 {
    color: #24554A;
  }
  body main section div .txt-img2 {
    color: #052C3B;
  }
  body main section div .txt-img1, body main section div .txt-img2 {
    transform: translateY(385px);
  }
  body main section div .txt-img1 span, body main section div .txt-img2 span {
    font-size: 28px;
  }
  body main section div .txt-img1 p, body main section div .txt-img2 p {
    font-size: 16px;
  }
  body main section div .name {
    font-size: 18px;
  }
  body main section div .job {
    padding-top: 0;
    font-size: 14px;
    opacity: 40%;
  }
  body main section .title {
    font-family: "Fraunces", serif;
    font-size: 16px;
    opacity: 45%;
    letter-spacing: 4px;
    font-weight: 900;
    line-height: 120px;
  }
  body main .grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  body main .grid-container1 .grid-item1 {
    grid-column: 2;
    grid-row: 1;
    height: 312px;
  }
  body main .grid-container1 .grid-item2 {
    grid-column: 1;
    grid-row: 1;
  }
  body main .grid-container1 .grid-item2 span {
    font-weight: 900;
  }
  body main .grid-container1 .grid-item3 {
    grid-column: 1;
    grid-row: 2;
    height: 312px;
  }
  body main .grid-container1 .grid-item4 {
    grid-column: 2;
    grid-row: 2;
  }
  body main .grid-container1 .grid-item4 span {
    font-weight: 900;
  }
  body main .grid-container1 .grid-item5 {
    grid-column: 1;
    grid-row: 3;
    background-image: url(assets/pc/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
  }
  body main .grid-container1 .grid-item6 {
    grid-column: 2;
    grid-row: 3;
    background-image: url(assets/pc/image-photography.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
  }
  body main .grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  body main .grid-container2 .grid-item7 {
    grid-column: 1;
    grid-row: 1;
  }
  body main .grid-container2 .grid-item7 img {
    width: 70px;
    border-radius: 100%;
  }
  body main .grid-container2 .grid-item8 {
    grid-column: 2;
    grid-row: 1;
  }
  body main .grid-container2 .grid-item8 img {
    width: 70px;
    border-radius: 100%;
  }
  body main .grid-container2 .grid-item9 {
    grid-column: 3;
    grid-row: 1;
  }
  body main .grid-container2 .grid-item9 img {
    width: 70px;
    border-radius: 100%;
  }
  body main .grid-container3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  body main .grid-container3 img {
    height: 100%;
    width: 100%;
  }
  body main .grid-container3 .grid-item10 {
    grid-column: 1;
    grid-row: 1;
  }
  body main .grid-container3 .grid-item11 {
    grid-column: 2;
    grid-row: 1;
  }
  body main .grid-container3 .grid-item12 {
    grid-column: 3;
    grid-row: 1;
  }
  body main .grid-container3 .grid-item13 {
    grid-column: 4;
    grid-row: 1;
  }
  body footer {
    text-align: center;
    background-color: #90d4c6;
    color: #2c7566;
  }
  body footer .logo-foo {
    filter: invert(26%) sepia(9%) saturate(2406%) hue-rotate(116deg) brightness(50%) contrast(90%);
  }
  body footer div {
    word-spacing: 20px;
    padding: 20px;
  }
  body footer div a {
    color: #2c7566;
    text-decoration: none;
  }
  body footer .link {
    word-spacing: 52px;
  }
  body footer .link a {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */